*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #efefef;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.topNavBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  color: #b7b7b7;
  transition: all 0.5s;
  padding: 20px 0;
}
.topNavBar.sticky{
  background: #FFF;
  color: #3d4451;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.navBar{
  float: right;
  margin-right: 15px;
  padding: 5px 0;
}
.navBar > ul{
  margin: 0;
}
.navBar > ul > li{
  float: left;
}
.navBar > ul > li > a{
  color: inherit;
  font-size: 12px;
  font-weight: bold;
  margin: 0 17px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top: 3px transparent;
  border-bottom: 3px transparent;
  display: block;
  position: relative;
}

.navBar > ul > li.active > a::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  height: 3px;
  background: #e6686a;
  animation: menuSlide .3s;
}
@keyframes menuSlide{
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
.topNavBar .menu-trigger{
  position: relative;
}
.topNavBar .submenu {
  display: none;
  background: #FFF;
  color: #3d4451;
  position: absolute;
  right: 17px;
  top: 110%;
  font-size: 14px;
  cursor: pointer;
}
.topNavBar li.active> .submenu{
  display: block;
  animation: submenuSlide .3s;
}
@keyframes submenuSlide{
  0%{
    margin-right: 50%;
  }
  100%{
    margin-right: 0;
  }
}
.topNavBar .submenu > li{
  white-space: nowrap;
  padding: 5px 10px;
}

.topNavBar .logo{
  font-size: 24px;
  font-family: 'Arial Black';
  margin-left: 15px;
  padding-top: 3px;
  padding-bottom: 4px;
}
.logo .rs{
  color: #e6686a;
}
.logo .card{
  color: #9a9da2;
  margin-left: 12px;
}

.banner{
  background-image: url(../img/rs-cover.jpg);
  background-position: center center;
  background-size: cover;
  height: 515px;
}
.banner .mask{
  background-color: rgba(0,0,0,0.8);
  height: 515px;
}
.user-card{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
}
.user-card .welcome{
  background-color: #e6686a;
  color: #FFF;
  display: inline-block;
  padding: 5px 17px;
  line-height: 18px;
  position: relative;
}
.welcome .triangle{
  display: block;
  border: 10px solid transparent;
  width: 0;
  border-top-width: 0;
  border-left-color:#e6686a; 
  position: absolute;
  top: 100%;
  left: 5px;
}
.user-card .picture{
  float: left;
}
.user-card .personal-info{
  float: left;
  margin-left: 65px;
  width: 470px;
}
.user-card .personal-info h1{
  margin-top: 18px;
}
.user-card .personal-info hr{
  margin: 20px 0;
  border-top: 1px solid #DEDEDE;
}
.user-card .profile{
  padding: 50px;
  margin-top: -400px;
}

.personal-info .text .title{
  float: left;
  line-height: 50px;
  font-weight: bold;
}
.personal-info .text .data{
  margin-left: 100px;
  line-height: 50px;
  color: #9da0a7;
}
.media{
  background-color: #e6686a;
}

.media .iconfont{
  font-size: 30px;
  color: #FFF;
  line-height: 30px;
}
.media{
  text-align: center;
}
.media a{
  margin: 16px;
  display: inline-block;
  border-radius: 100%;
  padding: 5px;
}
.media a:hover{
  background-color: #CF5D5F;
}
main {
  margin-top: 60px;
}
main .download-cv{
  color: #000;
  line-height: 16px;
  border: 1px solid #CDCFD1;
  background: #EFEFEF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #3d4451;
  padding: 21px 55px;
  display: inline-block;
  margin: 32px 0;
  transition: box-shadow 0.3s;
  
}
main .download-cv:hover{
  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
}
main .download-wrapper{
  text-align: center;
}
main .self-introduction{
  display: block;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
}
h1,h2,h3,h4,h5{
  font-weight: normal;
}
.skills{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.skills h2{
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}
.skills .progress-bar{
  border: 1px solid #CF5D5F;
  height: 2px;
  border-radius: 3px;
  margin: 4px 0 36px 0; 
}
.skills .progress{
  height: 100%;
  width: 69%;
  background-color: #CF5D5F;
}
.skills > ul{
  background: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
  padding: 42px 50px 10px 50px;
  margin-top: 35px;
  color: #3d4451;
}
.skills > ul > li{
  float: left;
  width: 48%;
}
.skills > ul > li:nth-child(even){
  float: right;
}
.skills h3{
  font-size: 14px;
  line-height: 1.1;
}
.productions{
  height: 500px;
}

















